@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.price {
    font-weight: bold;
}

.carritoProducto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-productos {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    font-family: "Didact Gothic", sans-serif;
    color: black;
    padding: 1rem;
    align-items: center;
    border-radius: 1rem;
}

.carrito-imagen {
    width: 10%;
}

.carrito-eliminar {
    border: 0;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}
.disabled {
    display: none;
}

/* --------------------- NEW ---------------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: background-color 0.3s ease;
}

nav:hover {
    background-color: #343434

}

.nav-cart {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin: 0;
    padding: 2rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.producto {
    flex: 0 0 calc(33.33% - 20px);
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
}
.producto img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.bg-color {
    background-color: #D0D6B3;
}

.logo {
    width: 40%;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container {
    display: flex;
}

.about-us {
    padding-left: 1rem;
}

.button {
    all: unset;
    background-color: #AAAE7F;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    width: 22%;
    font-size: 7pt;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 1rem;
}

.button-cart-delete {
    all: unset;
    background-color: #2F3061;
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
    font-family: "Didact Gothic", sans-serif;
    font-size: 9pt;
    cursor: pointer;
    margin-left: 1rem;
    transition: 0.3s ease;
}

.button-cart-shop {
    all: unset;
    background-color: #2F3061;
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
    font-family: "Didact Gothic", sans-serif;
    font-size: 9pt;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: 0.3s ease;
    margin-bottom: 2rem;

}

.button:hover {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3)
}

.button-cart-delete:hover {
    background-color: #710000;
    color: aliceblue;
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3)
}

.button-cart-shop:hover {
    background-color: #143109;
    color: aliceblue;
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3)
}

.background {
    width: 100vw;
}

.cart {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 1rem;
    color: white;
    font-size: 13pt;
}

.carrito {
    color: white;
}

.carritoVacio {
    color: black;
    font-family: "Didact Gothic", sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding-top: 2rem;
}
.total {
    display: flex;
    font-family: "Didact Gothic", sans-serif;
    font-weight: bolder;
    padding-left: 0.3rem;
    padding-bottom: 0.5rem;
    color: black;
    gap: 0.3rem;

}
.line{
    height: 2px;
    background-color: #343434;
    width: 97%;
    margin: 20px auto;
}